<div id='account' class="container">
    <h1>Account page</h1>

    <div class="account-options">
        <%= link_to "Edit profile", edit_user_registration_path %>
        <%= link_to "Wallets", wallets_path %>
    </div>
</div>