<div id="<%= dom_id wallet %>">
  <p>
    <strong>Wallet name:</strong>
    <%= wallet.wallet_name %>
  </p>

  <p>
    <strong>Wallet address:</strong>
    <%= wallet.wallet_address %>
  </p>

</div>
