<div id="<%= dom_id wallet %>">
  <% if wallet.chain == "Withholding Wallet" %>
    Withholding Wallet: <%= wallet.wallet_address %>
  <% else %>
  <p>
    <strong>Wallet name:</strong>
    <%= wallet.wallet_name %>
  </p>

  <p>
    <strong>Wallet address:</strong>
    <%= wallet.wallet_address %>
  </p>

  <% end %>
</div>
