<div class="container session-form">
  <h2>Editing wallet</h2>

  <%= render "form", wallet: @wallet %>

  <br>

  <div>
    <%= link_to "Show this wallet", @wallet %> |
    <%= link_to "Back to wallets", wallets_path %>
  </div>
</div>