<div class="container session-form">
  <h2>Editing wallet</h2>

  <% if @wallet.chain == 'Withholding Wallet' %>
    <%= render "withholding_edit_form", wallet: @wallet %>
  <% else %>
    <%= render "edit_form", wallet: @wallet %>
  <% end %>

  <br>

  <div>
    <%= link_to "Show this wallet", @wallet %> |
    <%= link_to "Back to wallets", wallets_path %>
  </div>
</div>