<div class="container">
<p style="color: green"><%= notice %></p>

<h1>Wallets</h1>
<hr />

<div id="new-wallet-form" class="container session-form">
  <h2>Create New Wallet</h2>
  <%= render 'form', wallet: Wallet.new, user: @user %>
</div>


<div id="wallets">
  <% @wallets.each do |wallet| %>
    <%= render wallet, pending_transactions: @pending_transactions %>
  <% end %>
</div>



</div>
