html, body{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: 'Turrent Road', sans-serif;
  background-color: #F5CFB3 !important;
}

.nowrap-text{
  white-space: nowrap;
}
#content-wrap{
  padding-right: 0!important;
  padding-left: 0!important;
}

nav{
  background-color: #9677A1;
  a, button{
    color: #E0F5B3 !important;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

#navbarNav{
  justify-content: flex-end;
}

/* Home Page Start */

section#intro{
  display: flex;
  position: relative;
  flex-flow:column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: (image-url('intro-bg.svg') no-repeat center center/cover);
  margin-top: -66px;
  padding: 5rem 7rem 10rem 7rem;
  background-position:bottom;
  overflow: visible;
  h1{
    font-size:60px;
    color: #E0F5B3 !important;
    line-height: 0.85;
  }
  button{
    background-color: #9677A1;
    color: #E0F5B3 !important;
    border: none;
    padding: 1rem;
    font-family: 'Lobster', sans-serif;
    border-radius: 50px;
    font-size: 16px;
    margin-top:1rem;
  }
  /* coins responsive styling */
  #bitcoin-coin {
    position: absolute;
    right: 134px;
    transform: scale(0.15);
    top: -195px;
  }
  #chainlink-coin {
    position: absolute;
    left: 131px;
    top: 80px;
    transform: scale(0.15);
  }
  #cardano-coin{
    position: absolute;
    left: -55px;
    top: 200px;
    transform: scale(0.35);
  }
  #ether{
    position: absolute;
    right: -40px;
    top: -90px;
    transform: scale(0.25);
  }
  #usdc{
      position: absolute;
      right: -54px;
      top: 244px;
      transform: scale(0.25);
  }
  #monero{
    position: absolute;
    right: 89px;
    top: 241px;
    transform: scale(0.35);
  }
  @media (min-width: 480px){
    #chainlink-coin {left: -49px;}
  }
  @media (min-width: 600px){
    #bitcoin-coin {
      right: -145px;
      top: -185px;
      transform: scale(0.25);
    }
    #ether {
      right: -72px;
      top: 12px;
      transform: scale(0.25);
    }
  }
  @media (min-width: 768px){
    #bitcoin-coin{
      right:-120px;
      top:-153px;
      transform: scale(0.35);
    }
    #ether {
      right: -50px;
      top: 77px;
      transform: scale(0.45);
    }
    #usdc {
      right: 91px;
      top: 267px;
      transform: scale(0.45);
    }
    #monero{
      right: 432px;
      top: 249px;
      transform: scale(0.55);
    }
    #chainlink-coin {
      left: -89px;
      top: -111px;
      transform: scale(.45);
    }
    #cardano-coin {
      left: 42px;
      top: 120px;
      transform: scale(0.45);
    }
  }
  @media (min-width: 907px){
    h1.turret-road-bold{
      width:80%;
    }
  }
  @media (min-width: 970px){
    #bitcoin-coin {
      right: -22px;
      top: -137px;
      transform: scale(0.45);
    }
    #ether {
      right: 24px;
      top: 128px;
      transform: scale(0.5);
    }
    #usdc {
      right: 163px;
      top: 267px;
      transform: scale(0.5);
    }
    #chainlink-coin {
      left: -93px;
      top: -83px;
      transform: scale(0.55);
    }
    #cardano-coin {
      left: 143px;
      top: 147px;
      transform: scale(0.6);
    }
    #monero {
      right: 563px;
      top: 293px;
      transform: scale(0.55);
    }
  }
  @media (min-width: 1077px){
    h1.turret-road-bold{
      width:50%; 
    }
    #monero{
      top: 200px;
    }
  }
  @media (min-width: 1568px) {
    #monero {
      right: 852px;
      top: 160px;
    }
  }
  /* coins responsive styling end */
}

section#video{
  .col-md-12{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:3rem;
    iframe{
      width: 100%;
      height: auto;
    }
  }
}

section#Our-Mission{
  background: (image-url('WaveBg.svg') no-repeat center center/cover);
  background-position: top;
  color:#E0F5B3;
  padding: 20rem 0;
  h2{
    font-size: 75px;
  }
  p{
    font-size: 20px;
    width:90%;
    margin: 0 auto;
  }
  @media (min-width: 728px){
    h2{
      font-size: 100px;
    }
    p{
      font-size: 30px;
    }
  }
}


/* Add custom fonts and styles */
.turret-road-regular {
  font-family: "Turret Road", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.turret-road-bold {
  font-family: "Turret Road", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* Add custom fonts and styles end */

/* Home Page End */

/* Account Page */
#account{
  h1 {
      font-family: 'Lobster', sans-serif;
      text-align: center;
      margin-top: 1rem;
    }
  .account-options{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width:100%;
    a{
      background-color: #9677A1;
      color: #E0F5B3 !important;
      border: none;
      padding: 1rem;
      border-radius: 50px;
      font-size: 16px;
      margin-top:1rem;
      text-decoration: none;
      &:hover {
          background-color: #E0F5B3;
          color: #9677A1 !important;
        }
    }
  }
}
/* Account Page End */

/* Wallets Page Start */
p.wallet-address{
  margin: 1rem 0 !important;
}
.wallet{
  position: relative;
  span.count-notification {
    background-color: red;
    color: white;
    border-radius: 50px;
    text-align: center;
    width: unset;
    position: absolute;
    padding: 0.5rem;
    top: -13px;
    right: -13px;
  }   
}
#withholding_wallet{
  background-color:#9677A1;
  color:#E0F5B3;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
  p{
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
#Ethereum-wallet {
  background: linear-gradient(178deg, black, white);
  padding:1rem;
  margin: 1rem;
  border-radius: 15px;
  p {
      background-color: white;
      border-radius: 15px;
      padding: 0.5rem;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
 #wallets{
  .wallet{
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
    align-items: center;
    .chain-id{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    h2:not(:first-child){
      background-color: white;
      padding:0.5rem;
      display: inline;
      border-radius: 15px;
      white-space: nowrap;
    }
    @media (max-width:475px) {
      h2:not(:first-child){
        display: none;
      }
    }
    a{
      padding:1rem;
      background-color: black;
      text-decoration: none;
      text-align: center;
      color:white;
      border-radius: 50px;
      display: flex;
      justify-content: center;
    }
  }
}
/*Wallet pages end*/

/*Pending Transactions Start*/
.transaction{
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
  background-color: #9677A1;
  color:#E0F5B3;
  .hash{
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }
  .amount{
    font-size: 1.5rem;
  }
}
/*Pending Transactions End*/

/* Session Pages Start */

.session-form{
  width:75% !important;
  border-radius:15px;
  padding: 1rem;
  background-color: #9677A1;
  color:#E0F5B3;
  h2{
    font-family: 'Lobster', sans-serif;
    text-align:center;
  }
  form{
    .field{
      margin: 0.5rem 0;
    }
  }
  #remember-me {
    padding: 1rem;
  }
  a{
    margin-top: 0.5rem !important;
    color: #E0F5B3;
  }
}
/* Session Pages End */
